<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6 offset3">
			<form class="form-horizontal" ng-submit="submitForm()" ng-controller="HomeController">
				<fieldset>
					<legend>Hae reitti</legend>
					<div class="control-group">
						<label class="control-label">Mistä:</label>
						<div class="controls">
							<input type="text" ng-model="from" placeholder="Oma sijainti" />
						</div>
					</div>
					
					<div class="control-group">
							<label class="control-label">Mihin:</label>
						<div class="controls">
							<input type="text" ng-model="to" placeholder="Kohde" />
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<label class="radio">
								<input type="radio" ng-model="timetype" value="departure" checked />
								Lähtöaika
							</label>
							<label class="radio">
								<input type="radio" ng-model="timetype" value="arrival" />
								Perillä
							</label>
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">Kello:</label>
						<div class="controls">
							<input type="text" ng-model="time" placeholder="Kello" />
						</div>
					</div>
					
					<div class="control-group">
						<label class="control-label">Päivämäärä:</label>
						<div class="controls">
							<input type="text" ng-model="date" placeholder="Päivämäärä" />
						</div>
					</div>
					
					<div class="control-group">
						<div class="controls">
							<button type="submit" class="btn-primary">Hae reitti</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="span3"></div>
	</div>
</div>
