<div class="container-fluid">
        <div class="row-fluid">
                <div class="span6 offset3">
                        <form class="form-horizontal" ng-controller="MainCtrl">
                                <fieldset>
                                        <legend>Search route</legend>
                                        <div class="control-group">
                                                <label class="control-label">From:</label>
                                                <div class="controls">
                                                        <input type="text" ng-model="from" placeholder="From" />
                                                </div>
                                        </div>
                                        
                                        <div class="control-group">
                                                        <label class="control-label">To:</label>
                                                <div class="controls">
                                                        <input type="text" ng-model="to" placeholder="To" />
                                                </div>
                                        </div>
                                        
                                        <div class="control-group">
                                                <div class="controls">
                                                        <label class="radio">
                                                                <input type="radio" ng-model="timetype" name="time_method" value="departure" checked /> Departure time
                                                        </label>
                                                        <label class="radio">
                                                                <input type="radio" ng-model="timetype" name="time_method" value="arrival" /> Arrival time
                                                        </label>
                                                </div>
                                        </div>
                                        
                                        <div class="control-group">
                                                <label class="control-label">Time:</label>
                                                <div class="controls">
                                                        <input type="text" ng-model="time" placeholder="Time" />
                                                </div>
                                        </div>
                                        
                                        <div class="control-group">
                                                <label class="control-label">Date:</label>
                                                <div class="controls">
                                                        <input type="text" ng-model="date" placeholder="Date" />
                                                </div>
                                        </div>
                                        
                                        <div class="control-group">
                                                <div class="controls">
                                                        <button type="submit" class="btn-primary">Search</button>
                                                </div>
                                        </div>
                                </fieldset>
                        </form>
                </div>
        </div>
</div>